a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* GENERAL */

@font-face{
    font-family: 'Mansalva';
}

a,a:hover{
    text-decoration: none;
}

h1{
    width: 100%;
    padding: 25px;
    background-color: #293133;
    font-size: 5em;
    text-align: center;
    color:lightgreen;
    font-family: 'Mansalva';
}

/* CHOISE PAGE */

.choice{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.choice--link{
    margin: 25px;
    color:lightgreen;
    font-size: 2em;
    padding: 25px;
    background-color: #293133;
    width: 80%;
    transition: ease 0.3s;
}
.choice--link:hover{
    color:lightgreen;
    border:solid 5px lightgreen;
    padding:20px;
    transition: ease 0.3s;
}

/* PANEL'S PAGES */

.panels{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}
.panel--languages{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.html--icon,.html--icon:hover{
    color:#f16529;
}
.css--icon, .css--icon:hover{
    color:#264de4;
}
.php--icon,.php--icon:hover{
    color:#474A8A;
}
.js--icon,.js--icon:hover{
    color:#f0db4f;
}
.panel--languages--icon{
    font-size: 8em;
}
.check--logo{
    font-size: 2em;
    color:lightgreen;
    display:none;
}
.button--form{
    background-color: transparent;
    padding: 15px;
    border:solid 2px lightgreen;
    margin: 50px;
    color:#293133;
    font-size: 1.5em;
}
.button--form i {
    margin-left: 10px;
}

/* QUESTIONS */

#questions{
    margin-top: 50px;
}

.form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.form--label{
    font-size: 1.5em;
    color:#293133;
    background-color: rgba(51, 51, 51,0.2);
    padding: 10px;
}
.form--select{
    padding: 10px;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid lightgreen;
    font-size: 1.2em;
    margin:25px;
}

/* RESULTATS */

.link--results{
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}
.link--results--a{
    margin: auto;
    color:lightgreen;
    font-size: 2em;
    padding: 25px;
    background-color: #293133;
    width: 80%;
    transition: ease 0.3s;
}
.link--results--a:hover{
    color:lightgreen;
    border:solid 5px lightgreen;
    padding:20px;
    transition: ease 0.3s;
}
.results{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.results--part{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.result--part--graph{
    height: 400px;
    width: 150px;
    /* background-color: gray; */
    margin-bottom: 25px;
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;

}
.results--column{
    background-color: blue;
    width: 100%;
    min-height: 10px;
}
.html--col{
    background-color:#f16529;
}
.css--col{
    background-color: #264de4;
}
.php--col{
    background-color: #474A8A;
}
.js--col{
    background-color: #f0db4f;
}
.pourcentage{
    font-size: 2em;
    columns: #293133;
    font-weight: 700;
}

@media (min-width:992px){
    .choice--link{
        width: 50%;
    }
    .panels{
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        top:40%;
    }
}